body {
    font-family: Arial, sans-serif;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.rating1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rating2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.marker1 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.marker2 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .marker {
    background-color: #2cc9e5;
}

